* {
  font-family: 'Comfortaa', sans-serif;
}

.nav-links {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  gap: 10px;
  pad: 5px;
  padding-top: 1%;
  padding-right: 1%;
}

.calendar-link, .tasks-link  {
  background: transparent;
  padding: 5px;
  margin: 0px;
  color: #fff;
  text-decoration: none;
}

.calendar-link:hover, 
.tasks-link:hover {
  background: #fff;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: 1px solid #fff;
  background: transparent;
  font-weight: bold;
}